html, body {
    margin: 0;
    padding: 0;
    min-height: 100% !important;
    height: 100%;
}
#map{
    width: 100%;
    height: 50%;
}
#map2{
    width: 100%;
    height: 50%;
}
.markers {
    box-sizing: border-box;
    background: #05F24C;
    box-shadow: 2px 2px 4px #333;
    border: 5px solid #346FF7;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 15px;
}
.landmarks {
    box-sizing: border-box;
    background: red;
    box-shadow: 2px 2px 4px #333;
    border: 5px solid #346FF7;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 15px;
}
.markers:hover  {
    -webkit-animation: pulse 1s infinite;
    -moz-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
}

/* ANIMATIONS */
@-webkit-keyframes pulse {
    40% {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes pulse {
    40% {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        transform: scale(1.5);
    }
}
@keyframes pulse {
    40% {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
